
<form ng-submit="signup(user)" class="form-signup">
  <h2 class="form-signup-heading">Sign up form</h2>
  <input type="text" placeholder="Username" required="required" autofocus="autofocus" ng-model="user.username" class="form-control"/>
  <input type="password" placeholder="Password" required="required" ng-model="user.password" class="form-control"/>
  <input type="email" placeholder="Email" required="required" ng-model="user.email" class="form-control"/>
  <button type="submit" class="btn btn-lg btn-primary btn-block">Sign up</button>
</form>