doctype 5
html
    title Test Upload
    meta(http-equiv='Authorization', content='6QQdzThwByzWMpDevKJGbu/ICH/4VDpEF/6c49djJNSpDCkjV4bkEo6yUq1RwKLkcy03rYxCYG4JfqrF4Oijxg==')
body
    script.
        var xhr = new